b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea/*
*.iml
projectFilesBackup

.DS_Store

# Need some way to include a theme config file: https://ghost.org/forum/themes/967-theme-options/
# Until then:
partials/google_analytics.hbs